# Sistema
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Logs
*.log

# Codex
.codex/
.wrangler/

# Node / Herramientas JS (por si usás npm más adelante)
node_modules/
dist/
build

# Local secrets
.dev.vars
